:root {
    --color-before: rgba(204, 153, 255, 1);
    --color-after: rgba(102, 0, 102, 0.8);
    --border-trans: border-color .25s ease-out;
    --stats-width: 150px;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #fff;
    font-family: Roboto, sans-serif;
}

.game {
    display: grid;
    position: relative;
    height: 100vh;
    width: 100vw;
    justify-items: center;
    background-image: url("../images/back.jpg");
}

.stats {
    display: none;
    position: absolute;
    padding: 15px 15px 0 15px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    z-index: 2;
}

.stats.enable {
    display: flex;
}

.stats .timer {
    font-size: 2rem;
    text-align: center;
}

.stats__players {
    display: flex;
}

.stats__enemies.enable {
    display: flex;
}

.stats__enemies {
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
    min-width: calc(var(--stats-width) * 2);
}

.stats__player {
    display: block;
    visibility: hidden;
    min-width: var(--stats-width);
    margin-left: 15px;
    text-align: center;
}

.stats__player > * {
    margin-bottom: 5px;
}

.stats__player > *:last-child {
    margin-bottom: 0;
}

.stats__player.enable {
    visibility: visible;
}

.stats__player:first-child {
    margin-left: 0px;
}

.stats__player .hp,
.stats__player .mp {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-size .5s linear;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
}

.stats__player .hp {
    background-image: linear-gradient(to right, red 100%, transparent 0);
}

.stats__player .mp {
    background-image: linear-gradient(to right, blue 100%, transparent 0);
}

.stats__player .name {
    font-size: 1.1rem;
}

.stats__player .score {
    font-size: 1.25rem;
}

.stats__player .weapons {
    display: flex;
    justify-content: center;
}

.stats__player .weapon-type {
    margin-left: 10px;
    width: 35px;
    height: 35px;
    background-image: linear-gradient(to right, red 100%, transparent 0);
    border-radius: 50%;
}

.stats__player .weapon-type.selected {
    background-image: linear-gradient(to right, blue 100%, transparent 0);
}

.stats__player .weapon-type:first-child {
    margin-left: 0;
}

.stats__enemy {
    margin-right: 15px;
}

.stats__enemy:last-child {
    margin-right: 0;
}

.field {
    display: none;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

.field.enable {
    display: block;
}

.draw {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.player_1 {
    width: 150px;
    height: 40px;
    background-image: url("../images/player-1-1.png");
}

.player_2 {
    width: 150px;
    height: 40px;
    background-image: url("../images/player-2-1.png");
}

.enemy {
    width: 150px;
    height: 40px;
    background-image: url("../images/enemy.png");
}

.enemy::before {
    content: attr(data-before);
    font-size: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.enemybullet {
    width: 20px;
    height: 10px;
    background-image: url("../images/ebullet-1.png");
}

.playerbullet {
    width: 20px;
    height: 10px;
    background-image: url("../images/pbullet-1.png");
}

.start,
.end {
    display: none;
}

.start.enable,
.end.enable {
    display: grid;
}

.start,
.end {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100px 50px 25px auto;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-gap: 15px;
}

.title {
    font-size: 2.5rem;
    color: #fff;
}

.button {
    width: 225px;
    padding: 8px;
    font-size: 1.15rem;
    border: 2px solid var(--color-before);
    background-color: var(--color-before);
    color: var(--color-after);
    transition: var(--border-trans);
    font-family: Roboto, sans-serif;
    cursor: pointer;
    outline: none;
}

.button:hover,
.button:focus {
    border-color: var(--color-after);
}

.input {
    width: 225px;
    padding: 8px;
    border: 2px solid #fff;
    font-size: 1rem;
    text-align: center;
    outline: none;
    transition: var(--border-trans);
    font-family: Roboto, sans-serif;
}

.input:hover,
.button:focus {
    border-color: var(--color-after);
}

.form {
    display: none;
}

.form.enable {
    display: flex;
    flex-direction: column;
}

.form > * {
    margin-bottom: 10px
}

.form > *:last-child {
    margin-bottom: 0px;
}

.start .title,
.start .descr-button,
.start .players-selector,
.start .form {
    grid-column-start: 3;
    grid-column-end: 7;
}
